@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-family: Proxima Nova, system-ui, sans-serif;
  }
}


@layer components {
  .btn-rosa {
    background: rgb(255,71,229);
    background: linear-gradient(90deg, rgba(255,71,229,1) 0%, rgba(0,212,255,1) 100%);
  }

  .btn-asor{
    background: rgb(217,65,196);
    background: linear-gradient(90deg, rgba(217,65,196,1) 0%, rgba(0,178,214,1) 100%);
  }

  .circulito{
    /* Ellipse 3 */

    position: absolute;
    width: 254.72px;
    height: 254.72px;


    background: radial-gradient(79.91% 79.91% at 74.58% 16.62%, #E46BBB 0%, #EB78BD 29.89%, #B72EB2 73.63%, #81249A 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    transform: rotate(-0.14deg);
  }
  
  /* ... */
}